.main {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}


/* bigger screen */
@media (min-width: 1023px) {
  .main {
    grid-template-columns: 3fr 2fr;
  }
}

.illustrate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-left: -80px;
  background-image: url("../public/illustrator.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70%;
}